body {
    background-color: antiquewhite;
}

nav {
     display: flex;
     justify-content: flex-end;
     background-color: aqua;
     border-radius: 10%;
 }

 .nav-bar-home {
    width: 50%;
    display:flex;
    justify-content:flex-start;
    border-radius: 10%;    
 }

 .nav-bar-other {
    width: 50%;
    display:flex;
    justify-content:flex-end;
    justify-content:space-around;
    border-radius: 10%;
 }

 nav li {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: burlywood;
    border-radius: 10%;
    width: 20%;
} 

.title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: aquamarine; 
    border-radius: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-section {
    /* display: flex;
    flex-wrap: wrap; */
    width: 60%;
    justify-content: center;
    margin: auto;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 10%;
}

.about-store {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: aquamarine; 
    border-radius: 10%;
    margin: 10px;
}

.product {
    background-color: aqua;
    border-color: solid 5px black;
    margin: auto;
    padding: 10px;
    justify-content: center; 
    height: 150px;
    width: 25%;
    list-style: none;
    justify-content: space-around;
    border-radius: 10%;
    border-radius: 10%;
    box-shadow: 5px 7px burlywood;
}

.product2 {
    background-color: aqua;
    border-color: solid 5px black;
    margin: auto;
    padding: 10px;
    justify-content: center; 
    height: 150px;
    width: 25%;
    list-style: none;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 5px 7px burlywood;
}