body {
    background-color: antiquewhite;
}
nav {
     display: flex;
     justify-content: flex-end;
     background-color: aqua;
 }

 .nav-bar-home {
    width: 50%;
    display:flex;
    justify-content:flex-start;
 }

 .nav-bar-other {
    width: 50%;
    display:flex;
    justify-content:flex-end;
    justify-content:space-around;
 }

 nav li {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rgb(221, 151, 58);
    border-radius: 10%;
    width: 20%;
} 

.title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: greenyellow; 
    border-radius: 10%;
}

.about-store {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: greenyellow; 
    border-radius: 10%;
    margin: 10px;
}

.product {
    background-color: blue
}